In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as datetime
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [2]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [3]:
train = pd.read_csv('featuresTrain3.csv')
test = pd.read_csv('featuresTest3.csv')

In [4]:
train.head()

,id,ciudad,provincia,antiguedad,habitaciones,garages,banos,metroscubiertos,metrostotales,idzona,...,peso_IDF_titulo,metrosdescubiertos,tipodepropiedad_cb,caracteristicas_cb,provincia_cb,piscina,gimnasio,usosmultiples,escuelascercanas,centroscomercialescercanos
0,254099,Benito Juárez,Distrito Federal,2.210044,2.0,1.0,2.0,4.394449,4.394449,23533.0,...,0.000000,0.000000,0.478679,0.390827,0.413880,0.0,0.0,0.0,0.0,0.0
1,53461,La Magdalena Contreras,Distrito Federal,2.397895,3.0,2.0,2.0,5.594711,5.198497,24514.0,...,0.165371,0.000000,0.386072,0.475439,0.413880,0.0,0.0,0.0,1.0,1.0
2,247984,Tonalá,Jalisco,1.791759,3.0,2.0,2.0,4.976734,5.117994,48551.0,...,0.033601,3.135494,0.426561,0.390827,0.407525,0.0,0.0,0.0,0.0,0.0
3,209067,Zinacantepec,Edo. de México,0.693147,2.0,1.0,1.0,4.158883,4.219508,53666.0,...,0.033601,1.609438,0.426561,0.475439,0.420146,0.0,0.0,0.0,1.0,1.0
4,185997,Zapopan,Jalisco,2.397895,2.0,1.0,1.0,4.564348,4.564348,47835.0,...,0.000000,0.000000,0.478679,0.390827,0.407525,0.0,0.0,0.0,0.0,0.0

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240000 entries, 0 to 239999
Data columns (total 28 columns):
id                            240000 non-null int64
ciudad                        240000 non-null object
provincia                     240000 non-null object
antiguedad                    240000 non-null float64
habitaciones                  240000 non-null float64
garages                       240000 non-null float64
banos                         240000 non-null float64
metroscubiertos               240000 non-null float64
metrostotales                 240000 non-null float64
idzona                        240000 non-null float64
lat                           240000 non-null float64
lng                           240000 non-null float64
precio                        240000 non-null float64
anio                          240000 non-null float64
mes                           240000 non-null float64
dia                           240000 non-null float64
datoBienCargado               240000 non-null int64
peso_IDF_descripcion          240000 non-null float64
peso_IDF_titulo               240000 non-null float64
metrosdescubiertos            240000 non-null float64
tipodepropiedad_cb            240000 non-null float64
caracteristicas_cb            240000 non-null float64
provincia_cb                  240000 non-null float64
piscina                       240000 non-null float64
gimnasio                      240000 non-null float64
usosmultiples                 240000 non-null float64
escuelascercanas              240000 non-null float64
centroscomercialescercanos    240000 non-null float64
dtypes: float64(24), int64(2), object(2)
memory usage: 51.3+ MB

In [ ]:
test.info()

In [6]:
col_precio = train['precio']
train = train.drop(['id','precio','ciudad','provincia','piscina','gimnasio','usosmultiples','escuelascercanas','datoBienCargado','caracteristicas_cb','centroscomercialescercanos'],axis='columns')
train.head()

,antiguedad,habitaciones,garages,banos,metroscubiertos,metrostotales,idzona,lat,lng,anio,mes,dia,peso_IDF_descripcion,peso_IDF_titulo,metrosdescubiertos,tipodepropiedad_cb,provincia_cb
0,2.210044,2.0,1.0,2.0,4.394449,4.394449,23533.0,20.696818,-99.509221,2015.0,8.0,23.0,0.086408,0.000000,0.000000,0.478679,0.413880
1,2.397895,3.0,2.0,2.0,5.594711,5.198497,24514.0,19.310205,-99.227655,2013.0,6.0,28.0,0.344349,0.165371,0.000000,0.386072,0.413880
2,1.791759,3.0,2.0,2.0,4.976734,5.117994,48551.0,20.696818,-99.509221,2015.0,10.0,17.0,0.992218,0.033601,3.135494,0.426561,0.407525
3,0.693147,2.0,1.0,1.0,4.158883,4.219508,53666.0,19.301890,-99.688015,2012.0,3.0,9.0,0.107927,0.033601,1.609438,0.426561,0.420146
4,2.397895,2.0,1.0,1.0,4.564348,4.564348,47835.0,20.696818,-99.509221,2016.0,6.0,7.0,0.078086,0.000000,0.000000,0.478679,0.407525

In [7]:
col_precio.head()

0    2273000.0
1    3600000.0
2    1200000.0
3     650000.0
4    1150000.0
Name: precio, dtype: float64

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240000 entries, 0 to 239999
Data columns (total 17 columns):
antiguedad              240000 non-null float64
habitaciones            240000 non-null float64
garages                 240000 non-null float64
banos                   240000 non-null float64
metroscubiertos         240000 non-null float64
metrostotales           240000 non-null float64
idzona                  240000 non-null float64
lat                     240000 non-null float64
lng                     240000 non-null float64
anio                    240000 non-null float64
mes                     240000 non-null float64
dia                     240000 non-null float64
peso_IDF_descripcion    240000 non-null float64
peso_IDF_titulo         240000 non-null float64
metrosdescubiertos      240000 non-null float64
tipodepropiedad_cb      240000 non-null float64
provincia_cb            240000 non-null float64
dtypes: float64(17)
memory usage: 31.1 MB

In [9]:
#Solo para featuresTrain2 y featuresTest2 sirve esto
#Convierto a float la columna datoBienCargado ya que en el set de datos train esta en formato int64 y en el
#set de entrenamiento en float64
train_datoBienCargado=train.loc[:,'datoBienCargado'].astype(float64)
train

KeyError: 'the label [datoBienCargado] is not in the [columns]'

In [ ]:
#Solo para featuresTrain2 y featuresTest2 sirve esto
train_datoBienCargado.head()

In [10]:
#Solo para featuresTrain2 y featuresTest2 sirve esto
train["datoBienCargado"]=train_datoBienCargado

NameError: name 'train_datoBienCargado' is not defined

In [11]:
#Solo para featuresTrain2 y featuresTest2 sirve esto
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240000 entries, 0 to 239999
Data columns (total 17 columns):
antiguedad              240000 non-null float64
habitaciones            240000 non-null float64
garages                 240000 non-null float64
banos                   240000 non-null float64
metroscubiertos         240000 non-null float64
metrostotales           240000 non-null float64
idzona                  240000 non-null float64
lat                     240000 non-null float64
lng                     240000 non-null float64
anio                    240000 non-null float64
mes                     240000 non-null float64
dia                     240000 non-null float64
peso_IDF_descripcion    240000 non-null float64
peso_IDF_titulo         240000 non-null float64
metrosdescubiertos      240000 non-null float64
tipodepropiedad_cb      240000 non-null float64
provincia_cb            240000 non-null float64
dtypes: float64(17)
memory usage: 31.1 MB

In [12]:
def normalize(df):
     result = df.copy()
     for feature_name in df.columns:
         max_value = df[feature_name].max()
         min_value = df[feature_name].min()
         result[feature_name] = (df[feature_name] - min_value) / (max_value - min_value)
     return result

train_entrenamiento=normalize(train)
train_entrenamiento.head()

,antiguedad,habitaciones,garages,banos,metroscubiertos,metrostotales,idzona,lat,lng,anio,mes,dia,peso_IDF_descripcion,peso_IDF_titulo,metrosdescubiertos,tipodepropiedad_cb,provincia_cb
0,0.502917,0.272727,0.333333,0.333333,0.489369,0.489369,0.000470,0.661093,0.106726,0.75,0.636364,0.733333,0.037892,0.000000,0.000000,0.687922,0.349686
1,0.545665,0.363636,0.666667,0.333333,0.851528,0.731977,0.000490,0.653553,0.107866,0.25,0.454545,0.900000,0.151005,0.067646,0.000000,0.545397,0.349686
2,0.407732,0.363636,0.666667,0.333333,0.665064,0.707687,0.000971,0.661093,0.106726,0.75,0.818182,0.533333,0.435109,0.013745,0.519716,0.607711,0.338902
3,0.157732,0.272727,0.333333,0.000000,0.418291,0.436584,0.001073,0.653508,0.106002,0.00,0.181818,0.266667,0.047328,0.013745,0.266769,0.607711,0.360319
4,0.545665,0.272727,0.333333,0.000000,0.540633,0.540633,0.000956,0.661093,0.106726,1.00,0.454545,0.200000,0.034243,0.000000,0.000000,0.687922,0.338902

In [14]:
train_entrenamiento.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240000 entries, 0 to 239999
Data columns (total 17 columns):
antiguedad              240000 non-null float64
habitaciones            240000 non-null float64
garages                 240000 non-null float64
banos                   240000 non-null float64
metroscubiertos         240000 non-null float64
metrostotales           240000 non-null float64
idzona                  240000 non-null float64
lat                     240000 non-null float64
lng                     240000 non-null float64
anio                    240000 non-null float64
mes                     240000 non-null float64
dia                     240000 non-null float64
peso_IDF_descripcion    240000 non-null float64
peso_IDF_titulo         240000 non-null float64
metrosdescubiertos      240000 non-null float64
tipodepropiedad_cb      240000 non-null float64
provincia_cb            240000 non-null float64
dtypes: float64(17)
memory usage: 31.1 MB

In [21]:
n = 500
knn = KNeighborsRegressor(n_neighbors = n)

In [26]:
parameters_for_testing = {
    'n_neighbors':[20],
    'p':[2,1]
}

In [27]:
gsearch1 = GridSearchCV(estimator = knn, param_grid = parameters_for_testing,\
                       n_jobs=2,iid=False, verbose=20,scoring='neg_mean_absolute_error')
gsearch1.fit(train_entrenamiento,col_precio)
print (gsearch1.cv_results_)
print('best params')
print (gsearch1.best_params_)
print('best score')
print (gsearch1.best_score_)

Fitting 3 folds for each of 2 candidates, totalling 6 fits

[Parallel(n_jobs=2)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done   1 tasks      | elapsed:  5.2min
[Parallel(n_jobs=2)]: Done   2 tasks      | elapsed:  5.3min
[Parallel(n_jobs=2)]: Done   3 tasks      | elapsed: 10.3min
[Parallel(n_jobs=2)]: Done   4 out of   6 | elapsed: 15.9min remaining:  7.9min
[Parallel(n_jobs=2)]: Done   6 out of   6 | elapsed: 25.7min remaining:    0.0s
[Parallel(n_jobs=2)]: Done   6 out of   6 | elapsed: 25.7min finished

{'mean_fit_time': array([12.21039232,  7.08531809]), 'std_fit_time': array([3.81306973, 0.30058558]), 'mean_score_time': array([297.10797191, 611.53509951]), 'std_score_time': array([ 2.35324808, 20.15577419]), 'param_n_neighbors': masked_array(data=[20, 20],
             mask=[False, False],
       fill_value='?',
            dtype=object), 'param_p': masked_array(data=[2, 1],
             mask=[False, False],
       fill_value='?',
            dtype=object), 'params': [{'n_neighbors': 20, 'p': 2}, {'n_neighbors': 20, 'p': 1}], 'split0_test_score': array([-984780.78952375, -912308.56749625]), 'split1_test_score': array([-987299.27292437, -913789.60562375]), 'split2_test_score': array([-993427.25247375, -919581.96591938]), 'mean_test_score': array([-988502.43830729, -915226.71301313]), 'std_test_score': array([3630.98109702, 3138.42204426]), 'rank_test_score': array([2, 1], dtype=int32)}
best params
{'n_neighbors': 20, 'p': 1}
best score
-915226.713013125

In [28]:
n = 20
knn = KNeighborsRegressor(n_neighbors = n)
knn.fit(train_entrenamiento,col_precio)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=20, p=2,
                    weights='uniform')

In [29]:
test.head()

,id,ciudad,provincia,antiguedad,habitaciones,garages,banos,metroscubiertos,metrostotales,idzona,...,peso_IDF_titulo,metrosdescubiertos,tipodepropiedad_cb,caracteristicas_cb,provincia_cb,piscina,gimnasio,usosmultiples,escuelascercanas,centroscomercialescercanos
0,4941,Miguel Hidalgo,Distrito Federal,3.401197,3.0,1.546874,4.0,5.707110,5.180463,2.423468e+06,...,0.033601,3.031614,0.426768,0.392836,0.404545,0.0,0.0,0.0,0.0,0.0
1,51775,Mérida,Yucatán,2.210044,1.0,1.000000,1.0,4.219508,4.219508,1.138510e+05,...,0.000000,0.000000,0.480004,0.392836,0.567188,0.0,0.0,0.0,0.0,0.0
2,115253,Coyoacán,Distrito Federal,0.000000,2.0,1.000000,2.0,4.477337,4.615121,2.362000e+04,...,0.638628,2.639057,0.480004,0.470865,0.404545,0.0,0.0,0.0,0.0,1.0
3,299321,Acapulco de Juárez,Guerrero,1.098612,2.0,2.000000,2.0,4.465908,4.465908,1.293470e+05,...,0.091081,0.000000,0.480004,0.392836,0.364473,0.0,0.0,0.0,0.0,0.0
4,173570,Tultitlán,Edo. de México,2.397895,2.0,1.000000,1.0,4.394449,4.343805,5.712500e+04,...,0.033601,0.000000,0.426768,0.475463,0.422059,0.0,0.0,0.0,1.0,1.0

In [30]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60000 entries, 0 to 59999
Data columns (total 27 columns):
id                            60000 non-null int64
ciudad                        60000 non-null object
provincia                     60000 non-null object
antiguedad                    60000 non-null float64
habitaciones                  60000 non-null float64
garages                       60000 non-null float64
banos                         60000 non-null float64
metroscubiertos               60000 non-null float64
metrostotales                 60000 non-null float64
idzona                        60000 non-null float64
lat                           60000 non-null float64
lng                           60000 non-null float64
anio                          60000 non-null float64
mes                           60000 non-null float64
dia                           60000 non-null float64
datoBienCargado               60000 non-null int64
peso_IDF_descripcion          60000 non-null float64
peso_IDF_titulo               60000 non-null float64
metrosdescubiertos            60000 non-null float64
tipodepropiedad_cb            60000 non-null float64
caracteristicas_cb            60000 non-null float64
provincia_cb                  60000 non-null float64
piscina                       60000 non-null float64
gimnasio                      60000 non-null float64
usosmultiples                 60000 non-null float64
escuelascercanas              60000 non-null float64
centroscomercialescercanos    60000 non-null float64
dtypes: float64(23), int64(2), object(2)
memory usage: 12.4+ MB

In [37]:
#ids = test['id']
test = test.drop(['piscina','gimnasio','usosmultiples','escuelascercanas','datoBienCargado','caracteristicas_cb','centroscomercialescercanos'],axis='columns')

In [38]:
prediction = knn.predict(test)

In [39]:
prediction

array([5712241.6 , 3803138.55, 4644990.75, ..., 6179094.1 , 4416957.4 ,
       5693341.35])

In [40]:
prediction[0].size

1

In [41]:
prediction.size

60000

In [42]:
# creo el dataframe para entregar:
dataKaggle = pd.DataFrame(ids ,columns={'id'})

In [43]:
dataKaggle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60000 entries, 0 to 59999
Data columns (total 1 columns):
id    60000 non-null int64
dtypes: int64(1)
memory usage: 468.8 KB

In [44]:
dataKaggle

           id
0        4941
1       51775
2      115253
3      299321
4      173570
5       30862
6      244471
7      127794
8       71558
9      218011
10     148208
11     155735
12     100698
13     241403
14     195272
15     238663
16     262957
17     207082
18     298896
19     220946
20      74581
21     253578
22      47620
23      92772
24     116904
25     208352
26      76044
27     202667
28      62134
29     277353
...       ...
59970  129589
59971   85388
59972   50185
59973   61187
59974  190799
59975  163414
59976   12355
59977  255748
59978  176567
59979  220463
59980  260742
59981  167651
59982  282440
59983  168663
59984  166605
59985  207997
59986  268896
59987  149564
59988   53975
59989   54441
59990  205625
59991  284266
59992   70244
59993   59776
59994   79100
59995   75094
59996  171847
59997  138313
59998  271268
59999   72612

[60000 rows x 1 columns]

In [45]:
dataKaggle['target'] = prediction

In [46]:
dataKaggle.head()

       id      target
0    4941  5712241.60
1   51775  3803138.55
2  115253  4644990.75
3  299321  6649199.90
4  173570  5006277.35

In [47]:
dataKaggle.to_csv("predictionKNN.csv", index = False)

In [ ]:
train_entrenamiento.columns